html {
  font-family: 'MuseoSansCyrl_300';
}
body {
  background-color: #e1dfe0;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  max-width: 1030px;
  width: 90%;
}
